* {
    margin: 30px;
    }
    body{
        
        text-align: center;
        background-color: rgb(221, 209, 209);
    }
    .content,button{
        margin-left: auto;
        margin-right: auto;
        display:  contents;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 2px;
    }
    button{
        background-color: rgb(12, 85, 114);
        color:aqua;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        width: auto;
    }
    button:hover{
        background-color: rgb(22, 143, 145);
    }
    
    .content,h1{
        text-align: center;
        color: burlywood;
        margin-top: 45px;
    }